<a href="https://colab.research.google.com/github/greeningstone/0_mini/blob/master/COVID19(kaggle%EC%88%98%EC%A0%95).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#https://www.kaggle.com/akarshupadhyay/covid-19-analysis-data-visualization#Final-Conclusion

In [5]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# kaggle.json을 아래 폴더로 옮긴 뒤, file을 사용할 수 있도록 권한을 부여한다. 
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
uploaded file "kaggle.json" with length 69 bytes

In [6]:
from google.colab import drive # 패키지 불러오기 

ROOT = "/content/drive"     # 드라이브 기본 경로
print(ROOT)                 # print content of ROOT (Optional)
drive.mount(ROOT)           # 드라이브 기본 경로 Mount

/content/drive
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [41]:
from os.path import join  

MY_GOOGLE_DRIVE_PATH = 'My Drive/Colab Notebooks/COVID19'
PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH)
print(PROJECT_PATH)

/content/drive/My Drive/Colab Notebooks/COVID19

In [42]:
%cd "{PROJECT_PATH}"

/content/drive/My Drive/Colab Notebooks/COVID19

In [9]:
!kaggle competitions list

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [10]:
!kaggle competitions download -c trec-covid-information-retrieval

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [11]:
!ls

submission.csv	test.csv  train.csv

In [43]:
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.core.display import display, HTML
from pandas_profiling import ProfileReport

In [46]:
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('submission.csv')
print("data import is done")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.

data import is done

In [48]:
df.head()

   Id County Province_State  ...        Date          Target  TargetValue
0   1    NaN            NaN  ...  2020-01-23  ConfirmedCases            0
1   2    NaN            NaN  ...  2020-01-23      Fatalities            0
2   3    NaN            NaN  ...  2020-01-24  ConfirmedCases            0
3   4    NaN            NaN  ...  2020-01-24      Fatalities            0
4   5    NaN            NaN  ...  2020-01-25  ConfirmedCases            0

[5 rows x 9 columns]

In [49]:
df.columns

Index(['Id', 'County', 'Province_State', 'Country_Region', 'Population',
       'Weight', 'Date', 'Target', 'TargetValue'],
      dtype='object')

In [50]:
df.dtypes

Id                  int64
County             object
Province_State     object
Country_Region     object
Population          int64
Weight            float64
Date               object
Target             object
TargetValue         int64
dtype: object

In [51]:
df['Date']=pd.to_datetime(df['Date'])
covid=df

In [52]:
print("Size/Shape of the dataset: ",covid.shape)
print("Checking for null values:\n",covid.isnull().sum())
print("Checking Data-type of each column:\n",covid.dtypes)

Size/Shape of the dataset:  (969640, 9)
Checking for null values:
 Id                    0
County            89600
Province_State    52360
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
TargetValue           0
dtype: int64
Checking Data-type of each column:
 Id                         int64
County                    object
Province_State            object
Country_Region            object
Population                 int64
Weight                   float64
Date              datetime64[ns]
Target                    object
TargetValue                int64
dtype: object

In [53]:
df.set_index('Id')

       County Province_State  ...          Target  TargetValue
Id                            ...
1         NaN            NaN  ...  ConfirmedCases            0
2         NaN            NaN  ...      Fatalities            0
3         NaN            NaN  ...  ConfirmedCases            0
4         NaN            NaN  ...      Fatalities            0
5         NaN            NaN  ...  ConfirmedCases            0
...       ...            ...  ...             ...          ...
969636    NaN            NaN  ...      Fatalities            0
969637    NaN            NaN  ...  ConfirmedCases           27
969638    NaN            NaN  ...      Fatalities            0
969639    NaN            NaN  ...  ConfirmedCases            6
969640    NaN            NaN  ...      Fatalities            0

[969640 rows x 8 columns]

In [54]:
data_df=df.sort_values(by=['Population'])     # Sorting the DataFrame by Popuation
xx=data_df.groupby(['Country_Region'])        # Grouping the Sorted Dataframe by ''Country_Region
country_name=xx['Target'].value_counts()      # Counting the number of COnfirmed Cases and Fatalities for Each Country
country_name                                  # Displaying the Outcome of the process

Country_Region  Target
Afghanistan     ConfirmedCases    140
                Fatalities        140
Albania         ConfirmedCases    140
                Fatalities        140
Algeria         ConfirmedCases    140
                                 ...
Yemen           Fatalities        140
Zambia          ConfirmedCases    140
                Fatalities        140
Zimbabwe        ConfirmedCases    140
                Fatalities        140
Name: Target, Length: 374, dtype: int64

In [55]:
l={}                                        # Creating an empty Dicitonary for Storing the values of Countries and Number of Fatalities
for i in df['Country_Region'].unique():
    l[i]=country_name[i]['Fatalities'] 
m={}                                        # Creating an empty Dicitonary for Storing the values of Countries and Number of Confirmed Cases
for i in df['Country_Region'].unique():
    m[i]=country_name[i]['ConfirmedCases']

In [56]:
ll=pd.DataFrame(l.values(),l.keys())   # Transforming the Dictionary into Data Frame
ll=ll.reset_index()                    # Resetting the Index
ll
mm=pd.DataFrame(m.values(),m.keys())   # Transforming the Dictionary into Data Frame
mm=mm.reset_index()                     # Resetting the Index
mm

                  index    0
0           Afghanistan  140
1               Albania  140
2               Algeria  140
3               Andorra  140
4                Angola  140
..                  ...  ...
182  West Bank and Gaza  140
183      Western Sahara  140
184               Yemen  140
185              Zambia  140
186            Zimbabwe  140

[187 rows x 2 columns]

In [57]:
ll.columns=['Country','Fatalities']            # Labelling the Columns as Country and Fatalities
mm.columns=['Country','Confirmed Cases']      # Labelling the Columns as Country and Fatalities
mm.nlargest(10,'Confirmed Cases')             # Displaying the Top 10 Country according the Confirmed Cases

            Country  Confirmed Cases
173              US           447720
36            China             4760
32           Canada             1820
62           France             1540
177  United Kingdom             1540
8         Australia             1260
121     Netherlands              700
47          Denmark              420
0       Afghanistan              140
1           Albania              140

In [58]:
g=ll.nlargest(11,'Fatalities')                 # Selecting the Top 11 Countries on the basis of Number of Fatalities
h=g.drop([173])                                # Dropping the America Row (due to tehreason I had mentioned above
h

            Country  Fatalities
36            China        4760
32           Canada        1820
62           France        1540
177  United Kingdom        1540
8         Australia        1260
121     Netherlands         700
47          Denmark         420
0       Afghanistan         140
1           Albania         140
2           Algeria         140

In [59]:
kk=h.set_index('Country')                       # Setting the Index as Country which will be useful in the Plotting 
oo=mm.nlargest(11,'Confirmed Cases')            # Selecting the Top 11 Countries on the basis of Number of Confirmed Cases
oo=oo.drop([173])                               # Considering only the countries except for America

In [60]:
import plotly.express as px
data = px.data.gapminder()

data_canada = oo
fig = px.bar(data_canada, x='Country', y='Confirmed Cases',
             hover_data=['Country', 'Confirmed Cases'], color='Confirmed Cases', height=400)
fig.show()

In [61]:
gg=ll.nlargest(15,'Fatalities')    # Selecting the Top 15 countries on the basis of Number of Fatalities
gg.drop([173],inplace=True) # Taking only the countries except for US

In [62]:
import plotly.express as px
data = px.data.gapminder()

data_canada = gg
fig = px.bar(data_canada, x='Country', y='Fatalities',
             hover_data=['Country', 'Fatalities'], color='Fatalities', width=1000, height=600)
fig.show()

In [63]:
gg=ll.nlargest(15,'Fatalities')    # Selecting the Top 15 countries on the basis of Number of Fatalities
gg.drop([173],inplace=True)

In [64]:
import plotly.express as px
data = px.data.gapminder()

data_canada = gg
fig = px.bar(data_canada, x='Country', y='Fatalities',
             hover_data=['Country', 'Fatalities'], color='Fatalities', width=1000, height=600)
fig.show()

In [65]:
usa=df[df['Country_Region']=='US']  # Selecting the Values whose Country Region belongs to US
usa11=usa.dropna()

In [66]:
usa11

            Id   County Province_State  ...       Date          Target  TargetValue
67760    67761  Autauga        Alabama  ... 2020-01-23  ConfirmedCases            0
67761    67762  Autauga        Alabama  ... 2020-01-23      Fatalities            0
67762    67763  Autauga        Alabama  ... 2020-01-24  ConfirmedCases            0
67763    67764  Autauga        Alabama  ... 2020-01-24      Fatalities            0
67764    67765  Autauga        Alabama  ... 2020-01-25  ConfirmedCases            0
...        ...      ...            ...  ...        ...             ...          ...
962635  962636   Weston        Wyoming  ... 2020-06-08      Fatalities            0
962636  962637   Weston        Wyoming  ... 2020-06-09  ConfirmedCases            0
962637  962638   Weston        Wyoming  ... 2020-06-09      Fatalities            0
962638  962639   Weston        Wyoming  ... 2020-06-10  ConfirmedCases            0
962639  962640   Weston        Wyoming  ... 2020-06-10      Fatalities            0

[880040 rows x 9 columns]

In [14]:
train.shape, test.shape

((969640, 9), (311670, 8))

In [15]:
display(train)

            Id County Province_State  ...        Date          Target  TargetValue
0            1    NaN            NaN  ...  2020-01-23  ConfirmedCases            0
1            2    NaN            NaN  ...  2020-01-23      Fatalities            0
2            3    NaN            NaN  ...  2020-01-24  ConfirmedCases            0
3            4    NaN            NaN  ...  2020-01-24      Fatalities            0
4            5    NaN            NaN  ...  2020-01-25  ConfirmedCases            0
...        ...    ...            ...  ...         ...             ...          ...
969635  969636    NaN            NaN  ...  2020-06-08      Fatalities            0
969636  969637    NaN            NaN  ...  2020-06-09  ConfirmedCases           27
969637  969638    NaN            NaN  ...  2020-06-09      Fatalities            0
969638  969639    NaN            NaN  ...  2020-06-10  ConfirmedCases            6
969639  969640    NaN            NaN  ...  2020-06-10      Fatalities            0

[969640 rows x 9 columns]

In [16]:
numeric_features = train.select_dtypes(include=[np.number])
print(numeric_features.columns)
print("The total number of numeric features are: ", len(numeric_features.columns))

Index(['Id', 'Population', 'Weight', 'TargetValue'], dtype='object')
The total number of numeric features are:  4

In [17]:
categorical_features = train.select_dtypes(exclude=[np.number])
categorical_features.columns
print("The total number of numeric features are: ", len(categorical_features.columns))

The total number of numeric features are:  5

In [18]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, KFold
from sklearn import ensemble
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

        
# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [19]:
train.isnull().sum()

Id                    0
County            89600
Province_State    52360
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
TargetValue           0
dtype: int64

In [20]:
test.isnull().sum()

ForecastId            0
County            28800
Province_State    16830
Country_Region        0
Population            0
Weight                0
Date                  0
Target                0
dtype: int64

In [21]:
sample

       ForecastId_Quantile  TargetValue
0                   1_0.05            1
1                    1_0.5            1
2                   1_0.95            1
3                   2_0.05            1
4                    2_0.5            1
...                    ...          ...
935005          311669_0.5            1
935006         311669_0.95            1
935007         311670_0.05            1
935008          311670_0.5            1
935009         311670_0.95            1

[935010 rows x 2 columns]

In [22]:
sample['TargetValue'].sum()

935010

In [23]:
train.sort_values(by=['TargetValue'])

            Id County Province_State  ...        Date          Target  TargetValue
63464    63465    NaN            NaN  ...  2020-04-24  ConfirmedCases       -10034
35826    35827    NaN            NaN  ...  2020-06-04  ConfirmedCases        -2850
35754    35755    NaN            NaN  ...  2020-04-29  ConfirmedCases        -2512
35740    35741    NaN            NaN  ...  2020-04-22  ConfirmedCases        -2206
63527    63528    NaN            NaN  ...  2020-05-25      Fatalities        -1918
...        ...    ...            ...  ...         ...             ...          ...
963064  963065    NaN            NaN  ...  2020-04-04  ConfirmedCases        33267
8936      8937    NaN            NaN  ...  2020-05-30  ConfirmedCases        33274
963118  963119    NaN            NaN  ...  2020-05-01  ConfirmedCases        34037
963076  963077    NaN            NaN  ...  2020-04-10  ConfirmedCases        35098
963104  963105    NaN            NaN  ...  2020-04-24  ConfirmedCases        36163

[969640 rows x 9 columns]

# 데이터 전처리

In [24]:
train = train.drop(['County','Province_State','Country_Region','Target'],axis=1)
test = test.drop(['County','Province_State','Country_Region','Target'],axis=1)
train

            Id  Population    Weight        Date  TargetValue
0            1    27657145  0.058359  2020-01-23            0
1            2    27657145  0.583587  2020-01-23            0
2            3    27657145  0.058359  2020-01-24            0
3            4    27657145  0.583587  2020-01-24            0
4            5    27657145  0.058359  2020-01-25            0
...        ...         ...       ...         ...          ...
969635  969636    14240168  0.607106  2020-06-08            0
969636  969637    14240168  0.060711  2020-06-09           27
969637  969638    14240168  0.607106  2020-06-09            0
969638  969639    14240168  0.060711  2020-06-10            6
969639  969640    14240168  0.607106  2020-06-10            0

[969640 rows x 5 columns]

In [25]:
from sklearn.preprocessing import OrdinalEncoder

def create_features(df):
    df['day'] = df['Date'].dt.day
    df['month'] = df['Date'].dt.month
    df['dayofweek'] = df['Date'].dt.dayofweek
    df['dayofyear'] = df['Date'].dt.dayofyear
    df['quarter'] = df['Date'].dt.quarter
    df['weekofyear'] = df['Date'].dt.weekofyear
    return df

In [26]:
def train_dev_split(df, days):
    #Last days data as dev set
    date = df['Date'].max() - dt.timedelta(days=days)
    return df[df['Date'] <= date], df[df['Date'] > date]

In [27]:
test_date_min = test['Date'].min()
test_date_max = test['Date'].max()

In [28]:
def avoid_data_leakage(df, date=test_date_min):
    return df[df['Date']<date]

In [29]:
def to_integer(dt_time):
    return 10000*dt_time.year + 100*dt_time.month + dt_time.day

In [30]:
train['Date']=pd.to_datetime(train['Date'])
test['Date']=pd.to_datetime(test['Date'])

In [31]:
test['Date']=test['Date'].dt.strftime("%Y%m%d")
train['Date']=train['Date'].dt.strftime("%Y%m%d").astype(int)

#Data Visualization